## Q1. List any five functions of the pandas library with execution.

In [10]:
## read_csv()
## head()
## describe()
## dtypes()
## loc[:]

import pandas as pd
df=pd.read_csv("services.csv")
df.head(3)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN

In [7]:
df.describe()

             id  location_id  program_id
count  23.00000    23.000000         0.0
mean   12.00000    11.956522         NaN
std     6.78233     6.711444         NaN
min     1.00000     1.000000         NaN
25%     6.50000     6.500000         NaN
50%    12.00000    12.000000         NaN
75%    17.50000    17.500000         NaN
max    23.00000    22.000000         NaN

In [9]:
df.dtypes

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

In [12]:

df.loc[0:4, ['location_id', 'program_id', 'accepted_payments', 'alternate_name', 'application_process' , 'audience']]

,location_id,program_id,accepted_payments,alternate_name,application_process,audience
0,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities..."
1,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over
2,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...
3,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c..."
4,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...

## Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [2]:
import pandas as pd

def new_index():
    df = pd.DataFrame(student_Name, index=[1,2,3])

    df = df.reset_index(drop=True)
    df.index = pd.RangeIndex(start=1, step=2, stop=2*len(df)+1)
    return df

student_Name = {'A' : ['Nitish', 'Amit', 'Sumit'], 'B': [20, 21, 19], 'C': [85.10, 77.80, 91.54]}
new_df=new_index()
print(new_df)

        A   B      C
1  Nitish  20  85.10
3    Amit  21  77.80
5   Sumit  19  91.54

## Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

## For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.

In [3]:
import pandas as pd

def sum_first_three_values(df):
    sum = df['value'].iloc[0:3].sum() 
    print("The sum of the first three values is:", sum)
df= pd.DataFrame({"value": [10, 20, 30, 40, 50]})
sum_first_three_values(df)

The sum of the first three values is: 60

## Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [4]:
import pandas as pd

def add_word_count(df, text_column_name='Text', word_count_column_name='Word_Count'):
   
    df[word_count_column_name] = df[text_column_name].str.split().str.len()
    
  
data = {'Text': ['My Name is Nitish Kuamr.', 'Studied a course in pw skills.', 'Data science masters']}
df = pd.DataFrame(data)
add_word_count(df)
print(df)

                             Text  Word_Count
0        My Name is Nitish Kuamr.           5
1  Studied a course in pw skills.           6
2            Data science masters           3

## Q5. How are DataFrame.size() and DataFrame.shape() different?

## Ans:-
### Syntax: dataframe.size()
### Return : Returns size of dataframe/series which is equivalent to total number of elements. That is rows x columns.

### Syntax: dataframe.shape()
### Return : Returns tuple of shape (Rows, columns) of dataframe/series

## Q6. Which function of pandas do we use to read an excel file?

## Ans:-
###    read_excel() function is used to read the excel file.

## Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

## The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

In [12]:
import pandas as pd

def extract_username(df):

    df['Username'] = df['email'].str.split('@').str[0]
    return df
    
df =pd.DataFrame({"email": ['nitish.kumar8092@gmail.com', 'sumitsahoo@gmail.com', 'amitkumar91@gmail.com']})
df = extract_username(df)
print(df)

                        email          Username
0  nitish.kumar8092@gmail.com  nitish.kumar8092
1        sumitsahoo@gmail.com        sumitsahoo
2       amitkumar91@gmail.com       amitkumar91

## Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.

## For example, if df contains the following values:
## A B C
## 0 3 5 1
## 1 8 2 7
## 2 6 9 4
## 3 2 3 5
## 4 9 1 2

## Your function should select the following rows: A B C
## 1 8 2 7
## 4 9 1 2
## The function should return a new DataFrame that contains only the selected rows.

In [9]:

import pandas as pd

def select_columns(df):

    selected_columns = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_columns

df = pd.DataFrame({
    'A': [3, 8, 6, 2, 9],
    'B': [5, 2, 9, 3, 1],
    'C': [1, 7, 4, 5, 2]
})

newdf = select_columns(df)
print(newdf)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

## Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [20]:
import pandas as pd

def calculate_stats(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std_dev = df['Values'].std()
    
    return mean, median, std_dev

df = pd.DataFrame({'Values': [17, 82, 453, 34, 75]})
print(df)

mean, median, std_dev = calculate_stats(df)

print(f"Mean: {mean}")
print(f"Median: {median}")
print(f"Standard Deviation: {std_dev}")

   Values
0      17
1      82
2     453
3      34
4      75
Mean: 132.2
Median: 75.0
Standard Deviation: 181.39652697888127

## Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [28]:
import pandas as pd

def moving_average_column(df):
    
    df = df.sort_values('Date')

    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()

    return df

data = {'Date': ['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04', '2021-01-05', '2021-01-06', '2021-01-07'], 'Sales': [10, 15, 20, 25, 30, 35, 40]}
df = pd.DataFrame(data)

df = moving_average_column(df)
print(df)

         Date  Sales  MovingAverage
0  2021-01-01     10           10.0
1  2021-01-02     15           12.5
2  2021-01-03     20           15.0
3  2021-01-04     25           17.5
4  2021-01-05     30           20.0
5  2021-01-06     35           22.5
6  2021-01-07     40           25.0

## Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.
## For example, if df contains the following values:
### Date
### 0 2023-01-01
### 1 2023-01-02
### 2 2023-01-03
### 3 2023-01-04
### 4 2023-01-05
## Your function should create the following DataFrame:

### Date Weekday
### 0 2023-01-01 Sunday
### 1 2023-01-02 Monday
### 2 2023-01-03 Tuesday
### 3 2023-01-04 Wednesday
### 4 2023-01-05 Thursday
### The function should return the modified DataFrame.

In [25]:
import pandas as pd

def weekday(df):
     # Convert the 'Date' column to datetime format
    df['Date'] = pd.to_datetime(df['Date'])
    # Get the weekday name for each date
    df['Weekday'] = df['Date'].dt.day_name()
    return df

df=pd.DataFrame({"Date" :[ '2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})
     
weekday=weekday(df)
print(weekday)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday